#asteroids {
  position: relative;
}

.asteroids-wrapper {
  width:800px;
  margin: auto;
}

.asteroids-button-wrapper {
  font-weight: bold;
  margin: auto;
  width:160px;
  text-align: center;
}

.asteroids-info {
  height:40px;
}

.asteroids-info p {
  padding:0;
}

.soundcloud-wrapper {
  width: 80px;
  height:50px;
  position: absolute;
  top: 0;
  right: 0;
}

.soundcloud {
  width:80px;
}
