*{
  box-sizing:border-box;
}

.hanoi-wrapper {
  height: 400px;
}

.hanoi-wrapper .currentTower {
  background: hsla(100, 50%, 50%, 0.5);
}

.disk {
  border:1px solid black;
  margin-right: auto;
  margin-left: auto;
  background:grey;
}

.hanoi-wrapper .placeholder {
}

.hanoi-wrapper .tower {
  float: left;
  width: 33%;
  height: 100%;
  border:1px solid;
}
