*{
  box-sizing:border-box;
}

.snake-wrapper {
  width:675px;
  margin:auto;
}

.row{
  height:15px;
}

.cell {
  background: black;
  height:15px;
  width:15px;
  float:left;
}

.snake {
  background: green;
}

.apple {
  background: red ;
}

.snake-info {
  height:40px;
}

.snake-info p {
  padding:0;
}

.snake-button-wrapper {
  font-weight: bold;
  margin: auto;
  width:160px;
  text-align: center;
}
