*{
  box-sizing:border-box;
}

.game-wrapper {
  margin:auto;
  border: 1px solid white;
}

.row{
  height:15px;
}

.cell {
  background: black;
  height:15px;
  width:15px;
  float:left;
}

.snake {
  background: green;
}

.apple {
  background: red ;
}

.snake-button {
  margin: auto;
  display: block;
}
