body {
  background: #dddddd;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  -webkit-text-size-adjust: none;
  color: black;
  margin: 0;
  overflow-x: hidden;
}

div .article {
  padding: 10px;
  width:80%;
}

section, article, nav {
  display: block;
}

.article {
  margin:auto;
}

h1 {
  font-size: 180%;
  text-align:center;
  margin: 20px;
}

h3 {
  font-size: 150%;
  margin: 10px;
}

p {
  padding:15px;
}

.current {
  color:white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.nav-top {
  font-weight: bold;
  z-index: 1;
  position: fixed;
  float: left;
  left:0;
  top:200px;
  width: 200px;
}

.nav-top ul {
  list-style-type: none;
}

.nav-top li {
  padding:0;
  margin:10px 10px;
}

.icon-wrapper {
  text-align: center;
  position:fixed;
  bottom:20px;
  width: 60px;
}

.icon-wrapper a {
  margin:auto;
}

.icon-wrapper .icon {
  margin-top:10px;
  height:30px;
}

.icon-wrapper .icon:hover {
  border: 2px solid transparent;
}

.nav-top li a:hover {
  text-decoration:none;
  border-bottom:2px dotted black;
  cursor: pointer;
}

.home p {
  margin-top:100px;
}

.projects {
  text-align: center;
}

.project {
  margin: 20px;
  padding: 20px;
}

.project-link {
  float:left;
}

.prev {
  float: left;
  cursor: pointer
}

.next {
  cursor: pointer;
  float:right;
}

.project-source {
  float:right;
}

.project-description {
  height: 65px;
}

.right a:hover {
  border-bottom: 2px dotted black;
  cursor: pointer;
}

.ui-tooltip-content {
  font-size:50%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
