@import url(http://fonts.googleapis.com/css?family=Cutive+Mono|Merriweather:400,900italic,900,700italic,700,400italic,300italic,300);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext);

body {
  background: #dddddd;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  -webkit-text-size-adjust: none;
  color: black;
  margin: 0;
  overflow-x: hidden;
}

em {
  font-style: italic;
}

p {
  line-height: 1.6em;
}

section, article, nav {
  display: block;
}

.article {
  padding-top: 100px;
  width: 76%;
  margin:auto;
}

h1 {
  font-size: 180%;
  text-align:center;
  margin: 20px;
}

h3 {
  font-size: 150%;
  margin: 10px;
}

h4 {
  font-size: 130%;
  margin-bottom: 4px;
}

p {
  padding:15px;
}

strong {
  font-weight: bold;
}

a {
  color: inherit;
}

.me {
  z-index: 1;
  position: fixed;
  right: 30px;
  top: 30px;
  font-size: 200%;
  width: 400px;
  text-align: center;
}

.current {
  color:white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.nav-top {
  letter-spacing: 2px;
  font-weight: bold;
  z-index: 1;
  position: fixed;
  float: left;
  left:0;
  top: 180px;
  width: 200px;
}

.nav-top ul {
  list-style-type: none;
}

.nav-top li {
  padding:0;
  margin-top: 30px;
  margin-left: 15px;
}

.nav-top li a:hover {
  text-decoration:none;
  border-bottom:2px dotted black;
  cursor: pointer;
}

.icon-wrapper {
  position: fixed;
  bottom:0;
  left: 2px;
}

.icon-wrapper a {
  margin:auto;
}

.icon-wrapper .icon {
  margin-right: 10px;
  margin-bottom: 10px;
  height:30px;
}

.icon-wrapper .icon:hover {
  border: 2px solid transparent;
}

.mail {
}

.home p {
  margin-top:100px;
}

.projects {
  text-align: center;
}

.project {
  margin: 20px;
  padding: 20px;
}

.project i {
  margin-right: 10px;
}

.project-link {
  float:left;
}

.project-description {
  margin:5px;
}

.prev {
  float: left;
  cursor: pointer
}

.next {
  cursor: pointer;
  float:right;
}

.project-source {
  float:right;
}

.project-description {
  height: 65px;
}

.right a:hover {
  border-bottom: 2px dotted black;
  cursor: pointer;
}

.ui-tooltip-content {
  font-size:50%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
