div .article {
  padding: 20px;
  width:80%;
}

section, article, nav {
  display: block;
}

h1 {
  text-align:center;
  margin-bottom: 50px;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  -webkit-text-size-adjust: none;
  color: black;
  margin: 0;
  overflow-x: hidden;
}

.nav-bar {
  z-index: 1;
  position: fixed;
  float: left;
  left:0;
  top:0;
  width: 200px;
}

.nav-bar ul {
  list-style-type: none;
}

.nav-bar li {
  padding:0;
  margin:5px 5px;
}

.nav-bar li a:hover {
  text-decoration:none;
  border-bottom:2px dotted black;
}

.nav-bar img {
  float:left;
  height:25px;
  margin:5px;
}

.home p {
  margin-top:100px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
